.contenido{
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido__container{
    width: 80%;
}

.contenido__categoria:first-child{
    margin-top: 64px;
}

.contenido__categoria__box{
    display: block;
}

.contenido__categoria__boxTitulo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.contenido__categoria__titulo{
    color: #464646;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.contenido__categoria__titulo--volver{
    color: #2A7AE4;
}

.contenido__categoria__productos{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: flex-start;
}

.contenido__categoria__producto{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 64px;
    position: relative;
    width: 170px;
}
.contenido__categoria__producto--solo6:nth-child(n+7){
    display: none;
}

.contenido__producto__img{
    width: 170px;
}

.contenido__producto__titulo{
    color: #464646;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
}

.contenido__producto__categoria{
    color: #464646;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.contenido__producto__precio{
    color: #464646;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.contenido__producto__id{
    color: #464646;
    font-size: 13px;
}

.contenido__producto__descripcion{
    border: none;
    color: #2A7AE4;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 0;
}

.invisible{
    display: none;
}