.encabezado{
    align-items: center;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.encabezado__principal{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0 16px;
    width: 100%;
}

.principal__box{
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    width: 100%;
}

.encabezado__logo{
    width: 100px;
}

.encabezado__buscador{
    position: relative;
    width: 50%;
}

.encabezado__input{
    background-color: #F5F5F5;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    height: 40px;
    padding: 8px 16px;
    width: 100%;
}
.encabezado__input:focus{
    outline: none;
}

.encabezado__searchIcon{
    display: none;
}


@media (min-width: 425px){
    .encabezado__principal{
        flex-direction: row;
        padding: 32px 0;
        width: 80%;
    }
    .principal__box{
        flex-direction: row;
        gap: 32px;
        margin-bottom: 0;
        width: 60%;
    }
    .encabezado__buscador{
        width: 60%;
    }
    .encabezado__input{
        font-size: 14px;  
    }
    .encabezado__searchIcon{
        display: block;
        position: absolute;
        right: 32px;
        top: 8px;
    }
}
@media (min-width: 768px){
    .encabezado__logo{
        width: auto;
    }
}
